<li id="comment-<%= comment._id %>">
    <p>
        <% if ((locals.user) && (locals.user.id==comment.user.id)) { %>
            <a class="delete-comment-button" href="/comments/destroy/<%= comment._id %>">x</a>
        <% } %>
        <small>
            <%= comment.user.name %>
        </small>
        <%= comment.content %>
    </p>
</li>